.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.float-enter {
  transform: translateY(0);
}
.float-enter-active {
  transform: translateY(-10px);
  transition: transform 500ms;
}
.float-exit {
  transform: translateY(-10px);
}
.float-exit-active {
  transform: translateY(0);
  transition: transform 500ms;
}



.img-deformed {
  transform: rotate(-2deg) scale(1.1);
  transition: transform 0.2s ease-in-out;
  border-radius: 15px;  
}

.img-deformed:hover {
  transform: rotate(1deg) scale(1.1);
}



.img-deformed2 {
  transform: rotate(10deg) scale(1.1);
  transition: transform 0.2s ease-in-out;
  border-radius: 15px;  
}

.img-deformed2:hover {
  transform: rotate(7deg) scale(1.1);
}



.slide-down-enter {
  transform: translateY(-100%);
}
.slide-down-enter-active {
  transform: translateY(0);
  transition: transform 500ms ease-in;
}
.slide-down-exit {
  transform: translateY(0);
}
.slide-down-exit-active {
  transform: translateY(-100%);
  transition: transform 500ms ease-in;
}
